%flash-colors {
	// TODO: success/upsell
	--bgColor-accent-muted: #e2eef9;
	--bgColor-attention-muted: #fff9ea;
	--bgColor-danger-muted: #fcdede;

	--borderColor-accent-muted: #bac6d3;
	--borderColor-attention-muted: #dfd8c2;
	--borderColor-danger-muted: #d2b2b2;

	--fgColor-accent: #246;
	--fgColor-attention: #4c4a42;
	--fgColor-danger: #911;
}
